.Header {
    text-align: center;
    color: white; /* page title white */
  }

  .stats-page {
    color: white; /* make all text on stats page white */
  }

  .stats-page h1, .stats-page h2, .stats-page p {
    color: white;
  }